Modelling Client/Connected Services/UAVServiceHosting/UAVService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UAVService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IUAVService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8732/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8732/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8732/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Modelling_Client.Models" />
      <xsd:import schemaLocation="http://localhost:8732/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Modelling_Client.ViewModels" />
      <xsd:import schemaLocation="http://localhost:8732/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Windows.Media" />
      <xsd:import schemaLocation="http://localhost:8732/?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8732/?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Modelling_Client.Models.%D0%9F%D0%B5%D1%80%D0%B5%D1%87%D0%B8%D1%81%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUAVService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IUAVService_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IUAVService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IUAVService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IUAVService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IUAVService_GetAllData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllData" />
  </wsdl:message>
  <wsdl:message name="IUAVService_GetAllData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDataResponse" />
  </wsdl:message>
  <wsdl:message name="IUAVService_SendValues_InputMessage">
    <wsdl:part name="parameters" element="tns:SendValues" />
  </wsdl:message>
  <wsdl:message name="IUAVService_SendValues1_InputMessage">
    <wsdl:part name="parameters" element="tns:SendValues1" />
  </wsdl:message>
  <wsdl:message name="IUAVService_LetsStart_InputMessage">
    <wsdl:part name="parameters" element="tns:LetsStart" />
  </wsdl:message>
  <wsdl:message name="IUAVService_ForcedStart_InputMessage">
    <wsdl:part name="parameters" element="tns:ForcedStart" />
  </wsdl:message>
  <wsdl:message name="IUAVService_StopModeling_InputMessage">
    <wsdl:part name="parameters" element="tns:StopModeling" />
  </wsdl:message>
  <wsdl:message name="IUAVService_SendValuesCallBack_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendValuesCallBack" />
  </wsdl:message>
  <wsdl:message name="IUAVService_SendValuesCallBack1_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendValuesCallBack1" />
  </wsdl:message>
  <wsdl:message name="IUAVService_GetStart_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetStart" />
  </wsdl:message>
  <wsdl:message name="IUAVService_Stop_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Stop" />
  </wsdl:message>
  <wsdl:portType name="IUAVService">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IUAVService/Connect" message="tns:IUAVService_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUAVService/ConnectResponse" message="tns:IUAVService_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IUAVService/Disconnect" message="tns:IUAVService_Disconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IUAVService/GetData" message="tns:IUAVService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUAVService/GetDataResponse" message="tns:IUAVService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllData">
      <wsdl:input wsaw:Action="http://tempuri.org/IUAVService/GetAllData" message="tns:IUAVService_GetAllData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUAVService/GetAllDataResponse" message="tns:IUAVService_GetAllData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IUAVService/SendValues" message="tns:IUAVService_SendValues_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendValues1">
      <wsdl:input wsaw:Action="http://tempuri.org/IUAVService/SendValues1" message="tns:IUAVService_SendValues1_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LetsStart">
      <wsdl:input wsaw:Action="http://tempuri.org/IUAVService/LetsStart" message="tns:IUAVService_LetsStart_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ForcedStart">
      <wsdl:input wsaw:Action="http://tempuri.org/IUAVService/ForcedStart" message="tns:IUAVService_ForcedStart_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopModeling">
      <wsdl:input wsaw:Action="http://tempuri.org/IUAVService/StopModeling" message="tns:IUAVService_StopModeling_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendValuesCallBack">
      <wsdl:output wsaw:Action="http://tempuri.org/IUAVService/SendValuesCallBack" message="tns:IUAVService_SendValuesCallBack_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendValuesCallBack1">
      <wsdl:output wsaw:Action="http://tempuri.org/IUAVService/SendValuesCallBack1" message="tns:IUAVService_SendValuesCallBack1_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStart">
      <wsdl:output wsaw:Action="http://tempuri.org/IUAVService/GetStart" message="tns:IUAVService_GetStart_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <wsdl:output wsaw:Action="http://tempuri.org/IUAVService/Stop" message="tns:IUAVService_Stop_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IUAVService" type="tns:IUAVService">
    <wsp:PolicyReference URI="#NetTcpBinding_IUAVService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IUAVService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IUAVService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/IUAVService/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllData">
      <soap12:operation soapAction="http://tempuri.org/IUAVService/GetAllData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendValues">
      <soap12:operation soapAction="http://tempuri.org/IUAVService/SendValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendValues1">
      <soap12:operation soapAction="http://tempuri.org/IUAVService/SendValues1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="LetsStart">
      <soap12:operation soapAction="http://tempuri.org/IUAVService/LetsStart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ForcedStart">
      <soap12:operation soapAction="http://tempuri.org/IUAVService/ForcedStart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StopModeling">
      <soap12:operation soapAction="http://tempuri.org/IUAVService/StopModeling" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendValuesCallBack">
      <soap12:operation soapAction="http://tempuri.org/IUAVService/SendValuesCallBack" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendValuesCallBack1">
      <soap12:operation soapAction="http://tempuri.org/IUAVService/SendValuesCallBack1" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStart">
      <soap12:operation soapAction="http://tempuri.org/IUAVService/GetStart" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <soap12:operation soapAction="http://tempuri.org/IUAVService/Stop" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UAVService">
    <wsdl:port name="NetTcpBinding_IUAVService" binding="tns:NetTcpBinding_IUAVService">
      <soap12:address location="net.tcp://localhost:8733/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8733/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-ELQ12AO\Володя</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>